{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Domain: {{ domain['domain_name'] }} {% endblock %}</h1>
    <h4>Project: <a href="{{ url_for('project', project_id=project['id']) }}">{{ project['name'] }}</a></h4>
    <br />
    <h2>Hosts</h2>
    <table id="hostTable" class="table table-hover table-product" style="width:100%">
        <thead>
        <tr>
            <th>Host</th>
            <th>Domains</th>
            <th>Ports</th>
            <th>Websites</th>
            <th>Last seen</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
        <tr>
                <td>
                    <a href="{{ url_for('host', host_id=host['host_id']) }}">{{ host['host_address'] }}</a>
                </td>
                <td>
                    {% for domain in host['domains'] %}
                        <a href="{{ url_for('domain', domain_id=domain['id']) }}">{{ domain['name'] }}</a><br />
                    {% endfor %}
                </td>
                <td>
                    {% for port in host['ports'] %}
                        <span class="badge {% if port['number'] == 80 %}bg-secondary{% elif port['number'] == 443 %}bg-success{% elif port['number'] == 22 %}bg-primary{% else %}bg-dark{% endif %}">{{ port['number'] }}</span>
                    {% endfor %}
                </td>
                <td>{{ host['websites']|length }}</td>
                <td>{{ host['last_seen'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>
                    <div class="dropdown">
                      <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                      </a>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                </td>
        {% endfor %}
        </tbody>
    </table>
    <br />
    <h2>Services</h2>
    <table id="serviceTable" class="table table-hover table-product" style="width:100%">
        <thead>
        <tr>
            <th>Port</th>
            <th>Protocol</th>
            <th>Service</th>
            <th>Product</th>
            <th>Version</th>
            <th>Last seen</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for port in domain['services'] %}
            <tr>
                <td><span class="badge {% if port['number'] == 80 %}bg-secondary{% elif port['number'] == 443 %}bg-success{% elif port['number'] == 22 %}bg-primary{% else %}bg-dark{% endif %}">{{ port['number'] }}</span></td>
                <td>{{ port['protocol'] }}</td>
                <td>{{ port['service'] }}</td>
                <td>{{ port['product'] }}</td>
                <td>{{ port['version'] }}</td>
                <td>{{ port['last_seen'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>
                    <div class="dropdown">
                      <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                      </a>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
    <h2>Websites</h2>
    <table id="websiteTable" class="table table-hover table-product" style="width:100%">
        <thead>
        <tr>
            <th>Screenshot</th>
            <th>URL</th>
            <th>Title</th>
            <th>Content-Type</th>
            <th>Tech</th>
            <th>Last seen</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for web in domain['websites'] %}
            <tr>
                <td>{% if web['screenshot'] %}<img style="width: 300px;" src="/static/screenshots/thumb_{{ web["screenshot"] }}" />{% endif %}</td>
                <td>{{ web['url'] }}</td>
                <td>{{ web['title'] }}</td>
                <td>{{ web['metadata']['content_type'] }}</td>
                <td>
                    {% for tech in web['metadata']['tech'] %}
                        <span class="badge bg-dark">{{ tech }}</span>
                    {% endfor %}
                </td>
                <td>{{ web['last_seen'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>
                    <div class="dropdown">
                      <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                      </a>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        let htable = new DataTable('#hostTable');
        let stable = new DataTable('#serviceTable');
        let wtable = new DataTable('#websiteTable');
    </script>
{% endblock %}
